
/*----------------------------------------------------------------------------*/
/*#BUTTON STYLE*/
/*----------------------------------------------------------------------------*/

.btn {
  transition: all .3s ease-in-out;

  &__form {
    background: #000F93;
    border: none;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    max-width: 700px;
    height: 65px;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 20px;
    
    &--submit{ background: #000F93; }
    &--back{ background: rgb(43, 43, 56); }
  }

  &--disabled {
      background: #000f9323;
      cursor: not-allowed;
  }

  //button size
  &--xl { }

  &--lg { }

  &--md { }

  &--sm { }

  &--xs { }

}
