
/*----------------------------------------------------------------------------*/
/*#BUTTON STYLE*/
/*----------------------------------------------------------------------------*/

.btn {
  transition: all .3s ease-in-out;

  &_submit {
    background: #000F93;
    border: none;
    font-weight: 600;
    font-size: 18px;

  }
  //button size
  &--xl { }

  &--lg { }

  &--md { }

  &--sm { }

  &--xs { }

}
