/*----------------------------------------------------------------------------*/
/*#TYPOGRAPHY STYLE*/
/*----------------------------------------------------------------------------*/


body {
  font-family: Poppins, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-txt-color;
}

h1,
h2,
h3,
h4,
h6,
h5 { 
  color:white; 
  font-weight: 500; 
}

h1 { font-size: 35px; }

h2 { font-size: 30px; }

h3 { font-size: 26px; }

h4 { font-size: 24px; }

h5 { font-size: 20px; }

h6 { font-size: 16px; }

ul, ol {
  font-size: 0;
  line-height: 0;
}

p,
ul li,
ol li {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 20px;
}
