/*----------------------------------------------------------------------------*/
/*#VARIABLES*/
/*----------------------------------------------------------------------------*/

// SCREEN SIZES
$screen-xxxl: 1749px; // widescreen
$screen-xxl:  1499px; // desktop
$screen-xl:   1365px; // laptop-sm
$screen-lg:   1199px; // tablet-lg
$screen-md:    991px; // tablet
$screen-sm:    767px; // phablet
$screen-xs:    575px; // mobile
$screen-xxs:   420px; // mobile-xxs
$screen-xxxs:  380px; // mobile-xxxs

// DEFAULTS
$default-link-color: #2676ba;
$default-txt-color: #333;

// COLORS
$primary: red;
$secondary: black;

$bg-color: #080808;
