.checkbox {
    display: flex;
    align-content: center;

    &__input {
        height: 25px;
        width: 25px;
        align-items: center;
        accent-color: #131313;        
        margin-right: 15px;
        filter: invert(100%) hue-rotate(18deg) brightness(1.7);
    }

    &__label {
        font-weight: 500; 
        font-size: 16px;  
        color: white; 
    }

    



}