.dropdown {
    overflow: hidden;  
    float: right;

    &--lg-wide { width: 225px; }

    &--md-wide { width: 125px; }

    & &__button {
        position:relative;
        height: 60px;
        margin: 0;
        margin-right: 10px;
        padding: 14px 16px;
        background-color: #151515;
        border: none;
        font-size: 16px;  
        font-weight: 600;  
        color: white;   

        &--border {
            border: 1px solid white;
            border-radius: 20px;
        }
    }

    &__button {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        text-align: left;
    }

    &__content {
        display: none;
        position: absolute;       
        background-color: #151515;
        z-index: 1;

        &--border {
            border: 1px solid white;
            border-radius: 20px;
        }

       button {
            border: none;
            outline: none;
            background-color: #151515;
            border-radius: 20px;
        } 
    }

    &__item {
        position: relative;
        display: flex;
        width: 100%;
        gap: 10px;
        align-items: center;
        float: none;
        padding: 12px 16px;
        color: white;
        text-decoration: none;
        text-align: left;
        font-size: 16px;
        font-weight: 600;

        &--line {
            &:not(:last-child):after{
                position: absolute;
                bottom: 0;
                content:"";
                display: block;
                border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
                max-width: 190px;
                width: 100%;
            }
        }

        &:hover { color: rgba(255, 255, 255, 0.6) }
    }

    &__clicked { display: block; }
}

