body{
  background-color: $bg-color;
}

svg {
  display: block;
  margin: 30px auto 100px auto;
}

input[type="checkbox"] { 
  filter: invert(100%) hue-rotate(18deg) brightness(1.7);
}



.form {
  color: white;
  width: 100%;
  max-width: 700px;
  margin: auto;
  font-size: 16px;

  &_label { color: white;  }

  &_error {
    color: red;
    font-size: 15px;
    text-align: left;
    margin-top: -20px;

    &--hidden {
      visibility: hidden;
    }
  }

  &_checkbox {
    display: flex;
    align-content: center;

  }
  &_checkbox--input {
    height: 25px;
    width: 25px;
    align-items: center;
    accent-color: #131313;
    margin-right: 15px;
  }
  &_checkbox--label {
  }

  &_icon {
    position: absolute;
    right: 40px;
    top: 5px;

  }

  &_input--error{
    border: solid 2px red;
  }

  &_title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
  }

  &_input[type="password"] {
    background-image: url("../../assets/images/Frame3.svg");
    background-repeat: no-repeat;
    background-position: top 20px right 40px;
  }

  &_input, button,label {
    width: 100%;
    max-width: 700px;
  }

  &_input, button{
    height: 70px;
    margin-bottom: 30px;
    margin-top: 15px;
    border-radius: 20px;
  }
  &_line{

      position: relative;
  }
  &_input {
  
    padding-left: 30px;
    background-color: #131313;
    color: white;
    border: 1px solid #CBCBCB;
    font-size: 16px;
  }


}