.form {
  color: white;
  width: 100%;
  max-width: 700px;
  margin: auto;
  font-size: 16px;

  &_label { 
    font-weight: 300;
    color: white;  
  }

  &_error {
    position: absolute;
    bottom:   -15px;
    color: red;
    font-size: 15px;
    text-align: left;

    &--hidden { visibility: hidden;}
  }

  &_input {
      position: relative;
      height: 70px;
      margin-bottom: 30px;
      margin-top: 15px;
      border-radius: 20px;
      font-weight: 300;
      padding-left: 30px;
      background-color: #131313;
      color: white;
      border: 1px solid #CBCBCB;
      font-size: 16px;

      &--error{ border: solid 1px red; }
  }

  &_icon {
    position: absolute;
    right: 35px;
    top: 30%;
  }

  &_title {
    text-align: center;
    color: white;
    margin-bottom: 55px;
    
    p {
      font-size: 16px;
      padding-top: 10px;
      font-weight: 300;
    }
  }

  &_input, &_label {
    width: 100%;
    max-width: 700px;
  }

  &_field { position: relative; }

  &_checkbox {
      display: flex;
      align-content: center;
      
      &--label { 
        font-weight: 500; 
        font-size: 16px;   
      }

      &--input {
        height: 25px;
        width: 25px;
        align-items: center;
        accent-color: #131313;
        margin-right: 15px;
        filter: invert(100%) hue-rotate(18deg) brightness(1.7);
      }
  }
}