.form {
  color: white;
  width: 100%;
  max-width: 700px;
  margin: auto;
  font-size: 16px;

  &__label { 
    font-weight: 300;
    color: white;  
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__error {
    position: absolute;
    bottom:   -15px;
    color: red;
    font-size: 15px;
    text-align: left;
  }

  &__input {
      position: relative;
      height: 70px;
      margin-bottom: 30px;
      margin-top: 15px;
      border-radius: 20px;
      font-weight: 300;
      padding-left: 30px;
      background-color: #131313;
      color: white;
      border: 1px solid #CBCBCB;
      font-size: 16px;

      &--error{ border: solid 1px red; }
  }

  &__icon {
    position: absolute;
    right: 35px;
    top: 30%;
  }

  &__title {
    text-align: center;
    color: white;
    margin-bottom: 55px;
    
    p {
      font-size: 16px;
      padding-top: 10px;
      font-weight: 300;
    }
  }

  &__input, &_label {
    width: 100%;
    max-width: 700px;
  }

  &__field { position: relative; }

  &__checkbox {
      display: flex;
      align-content: center;
  }
  &__checkbox-label { 
    font-weight: 500; 
    font-size: 16px;   
  }
  &__checkbox-input {
    height: 25px;
    width: 25px;
    align-items: center;
    accent-color: #131313;
    margin-right: 15px;
    filter: invert(100%) hue-rotate(18deg) brightness(1.7);
  }

  &__toggle {
    display: inline-block;
    margin-bottom: 20px;


  }

  &__toggle__input {
    margin-right: 55px ;
    margin-left: 35px;
    --inactive-bg: #C4C4C4;
    --active-bg: #000F93;
    --size: 18px;
    appearance: none;
    width: calc(var(--size) * 1.9);
    height: var(--size);
    display: inline-block;
    border-radius: calc(var(--size) / 2);
    cursor: pointer;
    background-color: var(--inactive-bg);
    background-image: radial-gradient(
        circle calc(var(--size) / 2.1),
        #fff 100%,
        #0000 0
      ),
      radial-gradient(circle calc(var(--size) / 1.5), #0003 0%, #0000 100%);
    background-repeat: no-repeat;
    background-position: calc(var(--size) / -1.75) 0;
    transition: background 0.2s ease-out;


     &:checked {
    background-color: var(--active-bg);
    background-position: calc(var(--size) / 1.75) 0;
  } 
  
  }
 
  
   
}