.movie-categories {
    padding: 30px;
    background-color: #151515;
    border-radius: 20px;

    &__title {
        font-weight: 500;
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
    }

}