.movie-card {
    position: relative;
    display: flex;
    height: 535px;
    width: 390px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #2D2D2D;
    color: white; 
   
    

    &__image {
        position: relative;
    
        width: 310px;
        height: 320px;
        margin: 20px 0;
        background-color: #C4C4C4;
        border-radius: 20px;
    }

    &__genre {  
        position: absolute;
        left:0;
        right:0;
        margin: auto;
        width: 120px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #000F93;
        color: white;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }

    &__details {
        width: 100%;
        text-align: center;

    }
    &__title {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;

    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        color:rgba(255, 255, 255, 0.5); 
        padding-bottom: 5px;

        p {
            font-size: 16px;
            font-weight: 300;
        }  
    }

    &__favorite {
        position: absolute;
        bottom: -25px;
        width: 70px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: white;
        border-radius: 20px;

    }
}