.movie-categories {
    padding: 30px;
    background-color: #151515;
    border-radius: 20px;


    @media (max-width:$screen-lg) {
        padding: 15px
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        color: white;
        margin-bottom: 20px;

        @media (max-width:$screen-md) {
            font-size: 15px;
        }
    }

    &__item {
        color: white;
        font-size: 16px;

        @media (max-width:$screen-md) {
            font-size: 13px;
        }

    }


    @media (max-width:$screen-md) {
        padding: 10px 20px;
        margin-bottom: 20px;
    }
}