.movie-details{
    

    &__img {
      
        width: 100%;
   
        border-radius: 20px;
        margin-bottom: 80px;
    }

    &__info {
        width:100%;
        display: flex;
        align-items: baseline;

    }   

    &__title {
       font-size: 30px;
        color:white;
        margin-right: 15px;
    }
    &__year {
        font-size: 18px;
    }

    &__rating {
        display: flex;
        gap: 5px;
        margin-left: auto;
        margin-right: 0;
    }
    &__summary {
        margin-bottom: 15px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.7);
    }
    &__more-btn {
        width: 100%;
        padding: 25px 0;
        border: none;
        border-radius: 20px;
        font-size: 16px;
        color: #0012B6;
        background-color: #000000;
     }
     // Change to headers
     &__title2 {
        font-size: 26px;
         color:white;
         margin-right: 15px;
     }

     &__cast {
        width: 100%;
        background-color: #131313;
        border-radius: 20px;
        padding: 30px;
        text-align: center;

     }

     &__actor-img {
        object-fit: cover;
        border-radius: 20px;
        width: 90px;
        height: 90px;
     }

     &__actor-name {
        font-size: 20px;
        color: white;
     }

     &__role-name {
        font-size: 14px;
        color:rgba(255, 255, 255, 0.6);
     }
}