.search-dropdown {
     margin-left: auto; 
     margin-right: 0;
 
     & &__button {
         position:relative;
         margin: 0;
         margin-right: 0;
         padding: 0;
         background-color: transparent;
         border: none;
         font-size: 16px;  
         font-weight: 600;  
         color: white;   
     }
 
     &__button {       
         display: flex;
         align-items: center;
         cursor: pointer;
     }
 
     &__content {
        margin-left: -30px;
        position: absolute;       
        background-color: #151515;
        z-index: 1;
     }
 
     &__item {
         position: relative;
         display: flex;
         width: 100%;
         gap: 10px;
         align-items: center;
         float: none;
         padding: 10px 15px;
         margin: 0;
         color: white;
         text-decoration: none;
         text-align: left;
         font-size: 16px;
         font-weight: 600;
 
         &:hover { 
             cursor: pointer;
             color: rgba(255, 255, 255, 0.6)
         }
     }
 
 
 }
 
 
