/*----------------------------------------------------------------------------*/
/*#MAIN/GLOBAL STYLE*/
/*----------------------------------------------------------------------------*/

body { background-color: $bg-color; }

.minimal-page-height { min-height: calc(100vh - 215px); }
.content-center {
    margin: 0 auto;
}
.logo {
    display: block;
    margin: 60px auto 100px auto;
}

.page-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__details {
        color: #3E4954;
        font-size: 16px;
    }
}

.account-privilege {
    height: 70vh;
    color: white;
    font-size: 30px;
    text-align: center;  
}

.button {
    width: 300px;
    height: 50px;
    background-color: navy;
    color: white; 
    margin: 30px;
}

.link-button { padding: 5px 30px; }

.recomendations {
    display: flex;
    justify-content: space-between;
    
    &__card { cursor: pointer; }
    &__image{
        object-fit: cover;
        border-radius: 20px;
        width: 240px;
        height: 340px
    }

    &__title {
        max-width: 240px;
        color: white;
        font-size:20px;   
        font-weight: 500;     
    }

    &__year {
        color: rgba(255, 255, 255, 0.6);
        font-size:14px;   
    }

}